[isort]
default_section = THIRDPARTY
known_first_party = backend  # change it for the name of your django project
known_django = django, rest_framework, django_filters, rest_framework_simplejwt
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER